DATABASE_URL=
DB_AUTH_TOKEN=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=
UMAMI_URL=
UMAMI_DATA_WEBSITE_ID=
NEXT_PUBLIC_APP_URL=http://localhost:3156
NEXT_PUBLIC_DOMAIN=localhost:3156
NEXT_PUBLIC_APP_NAME=ReadiumX
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
